@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/RobotoCondensed-VariableFont_wght.ttf')
    format('truetype');
}

@import 'tailwindcss';

@theme {
  --font-roboto-condensed: 'Roboto Condensed', 'Roboto', sans-serif;
  --color-marvel-red: #ec1d24;
}

@utility card-mask {
  clip-path: polygon(
    100% 0,
    100% calc(100% - 13px),
    calc(100% - 13px) 100%,
    0% 100%,
    0% 0%,
    0% 0%
  );
}

@utility hero-mask {
  clip-path: polygon(
    100% 0,
    100% calc(100% - 24px),
    calc(100% - 24px) 100%,
    0% 100%,
    0% 0%,
    0% 0%
  );
}
